
<%= stylesheet_link_tag("skills") %>

<div class="container">

    <h1>Technical Skills</h1>

    <div class="parent">

        <div class="progress">

            <div class="progress-bar" style="width:75%;">
                <span class="progress-bar-text">React JS</span>
            </div>

        </div>

        <div class="progress_2">

            <div class="progress-bar_2" style="width:75%;">
                <span class="progress-bar-text_2">JavaScript</span>
            </div>

        </div>

        <div class="progress_3">

            <div class="progress-bar_3" style="width:65%;">
                <span class="progress-bar-text_3">Ruby</span>
            </div>

        </div>

        <div class="progress_4">

            <div class="progress-bar_4" style="width:80%;">
                <span class="progress-bar-text_4">MySQL</span>
            </div>

        </div>

    </div>

    <h1>Soft Skills</h1>
    <li class="hola" ><%= image_tag  "habilidades.png"%>Good Communication</li><br>
    <li class="hola" ><%= image_tag  "habilidades.png"%>Problem resolution</li><br>
    <li class="hola" ><%= image_tag  "habilidades.png"%>Teamwork</li><br>
    <li class="hola" ><%= image_tag  "habilidades.png"%>Leadership</li><br>
    <li class="hola" ><%= image_tag  "habilidades.png"%>Customer service</li><br>
    
    
</div>