<%= stylesheet_link_tag "projects"%>

<h1 class="title">Projects</h1>

<%# <%= image_tag "what-is-github.png"%>

<div class="container">

    <div class="item1">
        
        <p>Pokédex</p>
        <%= image_tag "pokedex-stats.png" %>
        
    </div>

    <div class="item2">
        
        <p>Hangman</p>
        <%= image_tag "Hangmangame.jpg" %>
        
    </div>
    
    <div class="item3">
        
        <p>To-Do List</p>
        <%= image_tag "list.png" %>
        
    </div>

    <div class="item4">
        
        <p>Database</p>
        <%= image_tag "7e215705-8aa6-4ff4-94bf-5a6a801b92a4_thumbnail_website2.avif" %>
        
    </div>


</div>